.display {
    width: 80%;
    display: inline-block;
    justify-content: center;
}

.display p {
    text-align: justify;
}

.speakerName {
    font-size: small;
}

p > i {
    font-style: italic;
}