.mat-button-toggle-group {
    display: inline-flex;
    flex-wrap: wrap;
    border: 0px;
}

button {
    border:20px;
}

.speaker-select {
    border: 0px;
    border-radius: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: green;
}