/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    margin: 4vw;
    display: grid; justify-content: center; 
}

app-header {
    display: block; justify-content: center; 
    white-space: nowrap;
}

search-app {
    display: block; justify-content: center; 
    text-align: center;
}

search-app > h3, p {
    display: flex; justify-content: center; 
}